<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="net.ulthar.griddy">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
      android:name="net.ulthar.griddy.MainApplication"
      android:label="@string/app_name"
      android:icon="@mipmap/griddy"
      android:roundIcon="@mipmap/griddy_round"
      android:allowBackup="false"
      android:theme="@style/AppTheme">
      <activity
        android:name="net.ulthar.griddy.MainActivity"
        android:label="@string/app_name"
        android:configChanges="keyboard|keyboardHidden|orientation|screenSize|uiMode"
        android:launchMode="singleTask"
        android:screenOrientation="portrait"
        android:windowSoftInputMode="adjustResize">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
      </activity>
    </application>
</manifest>
